<!doctype html>
<html>
  <head>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    {{#if product.image.url}}
      <!-- Twitter Card Integration -->
      <meta name="twitter:card" content="product">
      <meta name="twitter:site" content="@goodybagATX">
      {{#if product.business.twitter}}
        <meta name="twitter:creator" content="{{product.business.twitter}}">
      {{/if}}
      <meta name="twitter:title"        content="{{product.name}}">
      <meta name="twitter:description"  content="{{product.description}}">
      <meta name="twitter:image"        content="{{filepicker product.image.url product.image.width product.image.height}}">
      <meta name="twitter:image:width"  content="{{product.image.width}}">
      <meta name="twitter:image:height" content="{{product.image.height}}">
      <meta name="twitter:label1"       content="Business">
      <meta name="twitter:data1"        content="{{product.business.name}}">
      {{#if product.cents}}
        <meta name="twitter:label2"       content="Price">
        <meta name="twitter:data2"        content="{{price product.cents}}">
      {{/if}}
    {{/if}}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container navbar-contents-wrapper">
          <a class="brand" href="http://goodybag.com">
            <img src="/logo.png" width="130" height="71">
          </a>
          <ul class="nav">
            <li><a href="http://www.goodybag.com/#/explore">Explore</a></li>
            <li><a href="http://www.goodybag.com/#/collections">My Collections</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main" class="container well" style="text-align: center;">
      <div class="row">
        <h1 class="span6 offset3">{{product.name}}</h1>
      </div>
      <div class="row">
        <h4 class="span6 offset3 business-name">@ {{product.business.name}}</h4>
      </div>
      <div id="main-image-wrapper" class="row">
        <img id="main-image" class="span6 offset3" src="{{filepicker product.image.url 570 570}}" height="570" width="570">
      </div>
      <div class="row">
        <p class="span6 offset3">{{product.description}}</p>
      </div>
      <div class="row info-row">
        {{#if product.cents}}
          <div class="span3 offset3">{{price product.cents}}</div>
        {{/if}}
        <div class="span{{#if product.cents}}3{{else}}2 offset5{{/if}}">
          <img src="/heart_icon.png" height="20" width="20"> {{product.likes}}
        </div>
      </div>
    </div>
    <script>
      // Don't really need any jquery yet
      document.getElementById('main').onclick = function(e) {
        window.location.href = 'http://www.goodybag.com/#/businesses/{{product.business.id}}';
      }
    </script>
  </body>
</html>
