<!doctype html>
<html>
  <head>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/uploads.hipchat.com/42627/312592/djkr02i4aawthh7/main.css" rel="stylesheet">

    <title>{{product.name}}</title>
    {{#if product.image.url}}
      <!-- Twitter Card Integration -->
      <meta name="twitter:card" content="product">
      <meta name="twitter:site" content="@goodybagATX">
      {{#if product.business.twitter}}
        <meta name="twitter:creator" content="{{product.business.twitter}}">
      {{/if}}
      <meta name="twitter:title"        content="{{product.name}}">
      <meta name="twitter:description"  content="{{product.description}}">
      <meta name="twitter:image"        content="{{filepicker product.image.url product.image.width product.image.height}}">
      <meta name="twitter:image:width"  content="{{product.image.width}}">
      <meta name="twitter:image:height" content="{{product.image.height}}">
      <meta name="twitter:label1"       content="Business">
      <meta name="twitter:data1"        content="{{product.business.name}}">
      {{#if product.cents}}
        <meta name="twitter:label2"       content="Price">
        <meta name="twitter:data2"        content="{{price product.cents}}">
      {{/if}}
    {{/if}}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container navbar-contents-wrapper">
          <a class="brand" href="http://goodybag.com">
            <img src="/logo.png" width="130" height="71">
          </a>
          <ul class="nav">
            <li><a href="http://www.goodybag.com/#/explore">Explore</a></li>
            <li><a href="http://www.goodybag.com/#/collections">My Collections</a></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">More</a>
              <ul class="dropdown-menu">
                <li><a href="//goodybag.com/#/how-it-works">How it Works</a></li>
                <li><a href="//goodybag.com/#/locations">Locations</a></li>
                <li><a href="//goodybag.com/#/about-us">About Us</a></li>
                <li><a href="//goodybag.com/#/charities">Charities</a></li>
                <li><a href="//goodybag.com/#/gb-for-businesses">Contact Us</a></li>
                <li><a href="//goodybag.com/#/privacy">Privacy</a></li>
                <li><a href="//goodybag.com/#/legal">Legal</a></li>
                <li><a href="//goodybag.com/#/support">Support</a></li>
                <li><a href="https://itunes.apple.com/ie/app/goodybag/id506924389?mt=8">Get the App!</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main" class="container plateau">
      <div class="row">
        <h1 class="span6 offset3 product-name">{{product.name}}</h1>
      </div>
      <div class="row">
        <h4 class="span6 offset3 business-name">@ {{product.business.name}}</h4>
      </div>
      <div id="main-image-wrapper" class="row">
        <img id="main-image" class="span6 offset3" src="{{filepicker product.image.url 570 570}}" height="570" width="570">
      </div>
      <div class="row">
        <p class="span6 offset3 product-description">{{product.description}}</p>
      </div>
      <div class="row info-row">
        {{#if product.cents}}
          <div class="span3 offset3">{{price product.cents}}</div>
        {{/if}}
        <div class="span{{#if product.cents}}3{{else}}2 offset5{{/if}}">
          <img src="/heart_icon.png" height="16" width="16"> {{product.likes}}
        </div>
      </div>
    </div>
    <script src="//use.typekit.net/vhr1yyf.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/bootstrap-dropdown.js"></script>
    <script>
      // Don't really need any jquery yet
      document.getElementById('main').onclick = function(e) {
        window.location.href = 'http://www.goodybag.com/#/businesses/{{product.business.id}}';
      }
      try{Typekit.load();}catch(e){}
    </script>
  </body>
</html>
