<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# restaurant: http://ogp.me/ns/restaurant#">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/goodybag.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">

    <title>{{product.name}}</title>
    {{#if product.image.url}}
      <!-- Twitter Card Integration -->
      <meta name="twitter:card" content="product">
      <meta name="twitter:site" content="@goodybagATX">
      {{#if product.business.twitter}}
        <meta name="twitter:creator" content="{{product.business.twitter}}">
      {{/if}}
      <meta name="twitter:title"        content="{{product.name}}">
      <meta name="twitter:description"  content="{{product.description}}">
      <meta name="twitter:image"        content="{{filepicker product.image.url product.image.width product.image.height}}">
      <meta name="twitter:image:width"  content="{{product.image.width}}">
      <meta name="twitter:image:height" content="{{product.image.height}}">
      <meta name="twitter:label1"       content="Business">
      <meta name="twitter:data1"        content="{{product.business.name}}">
      {{#if product.cents}}
        <meta name="twitter:label2"       content="Price">
        <meta name="twitter:data2"        content="{{price product.cents}}">
      {{/if}}
    {{/if}}

      <meta property="fb:app_id"          content="1234567890" />
      <meta property="og:type"            content="restaurant.menu_item" />
      <meta property="og:url"             content="http://www.goodybag.com/#/explore/products/{{product.id}}" />
      <meta property="og:title"           content="{{product.name}}" />
      <meta property="og:description"     content="{{product.description}}">
      <meta property="og:image"           content="{{filepicker product.image.url product.image.width product.image.height}}" />
    <script>
      window.location.href = "http://www.goodybag.com/#/products/{{product.id}}";
    </script>
  </head>
  <body>
    <div id="app-header" class="header-navbar">
      <div class="container">
        <div class="row">
          <div class="span2 logo-wrapper">
            <img src="/logo.png" alt="" class="logo">
          </div>

          <div class="span6 nav-wrapper">
            <ul class="nav">
              <li><a href="//goodybag.com/#/explore">Explore</a></li>
              <li><a href="//goodybag.com///goodybag.com/#/collections">My Collections</a></li>
              <li class="dropdown dropdown-more">
                <a href="#/more" class="more">More</a>
                <ul class="dropdown-menu">
                  <li><a href="//goodybag.com/#/how-it-works">How it Works</a></li>
                  <li><a href="//goodybag.com/#/locations">Locations</a></li>
                  <li><a href="//goodybag.com/#/about-us">About Us</a></li>
                  <li><a href="//goodybag.com/#/charities">Charities</a></li>
                  <li><a href="//goodybag.com/#/gb-for-businesses">Contact Us</a></li>
                  <li><a href="//goodybag.com/#/privacy">Privacy</a></li>
                  <li><a href="//goodybag.com/#/legal">Legal</a></li>
                  <li><a href="//goodybag.com/#/support">Support</a></li>
                  <li class="get-the-app">
                    <a href="https://itunes.apple.com/ie/app/goodybag/id506924389?mt=8">Get the App!</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="container plateau">
      <div style="clear: both;"></div>
      <div class="span5 centered-container">
        <div class="row-fluid">
          <h1 class="span12 product-name">{{product.name}}</h1>
        </div>
        <div class="row-fluid">
          <h4 class="span12 business-name">@ {{product.business.name}}</h4>
        </div>
        <div id="main-image-wrapper" class="row-fluid">
          <img id="main-image" class="span12" src="{{filepicker product.image.url 570 570}}" height="570" width="570">
        </div>
        <div class="row-fluid">
          <p class="span12 product-description">{{product.description}}</p>
        </div>
        <div class="row-fluid info-row">
          {{#if product.cents}}
            <div class="span6">{{price product.cents}}</div>
          {{/if}}
            <div class="span{{#if product.cents}}6{{else}}12{{/if}}">
              <img src="/heart_icon.png" height="16" width="16"> {{product.likes}}
            </div>
        </div>
      </div>
    </div>
    <script src="//use.typekit.net/vhr1yyf.js"></script>
    <script>
      // Don't really need any jquery yet
      document.getElementById('main').onclick = function(e) {
        window.location.href = 'http://www.goodybag.com/#/businesses/{{product.business.id}}';
      }
      try{Typekit.load();}catch(e){}
    </script>
  </body>
</html>
